img {  
            height:465px;  
            width:616px;  
            border: solid 4px transparent;  
}  

img.thumb {  
            height:90px;  
            width:120px;  
            float: left;  
}  

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
 
